.navigation{
    display: flex;
    justify-content: center;
}

.navigation i {
    margin: 5px 35px 5px 5px;
    cursor: pointer;
}

.navigation p{
    padding-left: 5px;
    display: inline;
    font-size: small;
}

.theme{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.theme p{
    width: 100%;
    padding-left: 6px;
    font-size: small;
    display: inline;
}